<a href="https://colab.research.google.com/github/jzfrank/nlp-CFN/blob/main/Copy_of_zero_shot_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from transformers import AutoModelForSequenceClassification,AutoTokenizer,pipeline
model = AutoModelForSequenceClassification.from_pretrained('uer/roberta-base-finetuned-chinanews-chinese')
tokenizer = AutoTokenizer.from_pretrained('uer/roberta-base-finetuned-chinanews-chinese')
text_classification = pipeline('sentiment-analysis', model=model, tokenizer=tokenizer)
text_classification("北京上个月召开了两会")

[{'label': 'mainland China politics', 'score': 0.7211664915084839}]

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/train_sample.csv')

In [ ]:
data

      Unnamed: 0                     NEWS_TITLE NEWS_ORIGIN_SOURCE   NEWS_ID
0       39580162  上证50ETF期权：建议继续保持现有现货头寸，期权暂不操作                NaN  17460390
1       37691618              10月15日上海银行间同业拆放利率                NaN  15295190
2       34364484         凯石全球：澳元降息暗示宽松尾声 美指下行加剧                NaN  11367204
3       38150902              听取市政府党组前三季度工作情况汇报                NaN  15812074
4       35415373              宋清辉：2025，中国民营将成主角                NaN  12703985
...          ...                            ...                ...       ...
9995    45080470       林心如吸金有术，十八年间「还珠三美」商业版图惊人                NaN  24136409
9996    37002622             中信证券总经理等人被公安机关依法调查                NaN  14545126
9997    40371248        台南地震遇难人数上升至41人 重型机具多点救援                NaN  18357276
9998    39472980                       跨年晚会家家强？                NaN  17340936
9999    36416513               提升领导干部运用法治思维方式能力                NaN  13879745

[10000 rows x 4 columns]

In [ ]:
data['text_classification'] = data.NEWS_TITLE.apply(lambda x: text_classification(x))

In [ ]:
data.sample(5)

,Unnamed: 0,NEWS_TITLE,NEWS_ORIGIN_SOURCE,NEWS_ID,text_classification
9461,39815363,策略研究:绝地反击重回3000点,NaN,17723781,"[{'label': 'financial news', 'score': 0.998812..."
7955,44238524,沪市价格创3月新低股(51只),巨灵信息,22771379,"[{'label': 'financial news', 'score': 0.998407..."
4911,33562265,淘寶十二周年感恩回馈活动,生意社,10338603,"[{'label': 'financial news', 'score': 0.449244..."
4378,41949358,匡时国际上市破解资金之困 借道模式或引业内效仿,北京商报,20275889,"[{'label': 'financial news', 'score': 0.970272..."
3495,46536845,双汇发展：博时基金等17家机构密集调研双汇发展,NaN,26565139,"[{'label': 'financial news', 'score': 0.997272..."

In [ ]:
data.text_classification.apply(lambda x: len(x)).unique()

array([1])

In [ ]:
data.text_classification.apply(lambda x: x[0]['label']).unique()

array(['financial news', 'mainland China politics', 'International news',
       'culture', 'sports', 'Hong Kong - Macau politics', 'entertainment'],
      dtype=object)

In [ ]:
data['category'] = data.text_classification.apply(lambda x: x[0]['label'])

In [ ]:
data.loc[9995]

Unnamed: 0                                                      45080470
NEWS_TITLE                                      林心如吸金有术，十八年间「还珠三美」商业版图惊人
NEWS_ORIGIN_SOURCE                                                   NaN
NEWS_ID                                                         24136409
text_classification    [{'label': 'entertainment', 'score': 0.9038226...
category                                                   entertainment
Name: 9995, dtype: object

In [ ]:
data[data.category == 'entertainment']

,Unnamed: 0,NEWS_TITLE,NEWS_ORIGIN_SOURCE,NEWS_ID,text_classification,category
95,43933189,AKB48总选举来了！618花椒带你全程直播,NaN,22392936,"[{'label': 'entertainment', 'score': 0.9974337...",entertainment
119,38630088,陈浩民：惊人效果全靠聚少离多,NaN,16336705,"[{'label': 'entertainment', 'score': 0.9791207...",entertainment
189,43484108,创维《跨界歌王》首战惊艳，刘涛王凯人气开唱,NaN,21926771,"[{'label': 'entertainment', 'score': 0.9966617...",entertainment
268,45702548,焦恩俊晒女儿庆生 焦恩俊与前妻为什么离婚？【图】,人民网,25158362,"[{'label': 'entertainment', 'score': 0.9988252...",entertainment
370,35852725,7月全国电影票房达54.9亿元 国产电影创纪录,NaN,13235130,"[{'label': 'entertainment', 'score': 0.9322344...",entertainment
...,...,...,...,...,...,...
9808,38878111,田亮晒与爱女晨练照 森碟压腿跑步活力十足,中国新闻网,16647092,"[{'label': 'entertainment', 'score': 0.9069318...",entertainment
9870,40943998,在白色情人节 品味新K2的暖男气质,NaN,19010644,"[{'label': 'entertainment', 'score': 0.9974557...",entertainment
9904,36453684,婚外情网站泄密致两人自杀 公司悬赏找黑客,NaN,13923642,"[{'label': 'entertainment', 'score': 0.6180115...",entertainment
9995,45080470,林心如吸金有术，十八年间「还珠三美」商业版图惊人,NaN,24136409,"[{'label': 'entertainment', 'score': 0.9038226...",entertainment
9998,39472980,跨年晚会家家强？,NaN,17340936,"[{'label': 'entertainment', 'score': 0.8380638...",entertainment

In [ ]:
data[data.category == 'culture']

,Unnamed: 0,NEWS_TITLE,NEWS_ORIGIN_SOURCE,NEWS_ID,text_classification,category
23,40839224,官山故里小河弯,NaN,18891689,"[{'label': 'culture', 'score': 0.9839416146278...",culture
56,40583145,揭秘战斗民族“富二代”的奢华生活(组图),NaN,18596939,"[{'label': 'culture', 'score': 0.9791011810302...",culture
85,44788569,“中国艺术家应有更强的文化自信”,NaN,23661170,"[{'label': 'culture', 'score': 0.9616035223007...",culture
91,39801011,甲状腺癌遗传基因“显形”,NaN,17708075,"[{'label': 'culture', 'score': 0.4727920889854...",culture
114,37954405,化石老戏进退两难,NaN,15591800,"[{'label': 'culture', 'score': 0.9062131643295...",culture
...,...,...,...,...,...,...
9948,39482600,“何绍基的书法世界”开幕 穿越百年与大师对话（图）,NaN,17351120,"[{'label': 'culture', 'score': 0.9965651631355...",culture
9949,33871646,南美小伙“微笑”奏响《茨冈狂想曲》,星辰在线-长沙晚报,10730081,"[{'label': 'culture', 'score': 0.8124908208847...",culture
9970,32750216,扯扯“西方价值观”,环球网评论,9350601,"[{'label': 'culture', 'score': 0.7371584177017...",culture
9977,32588360,133个微信公众账号被关闭,天津日报,9117942,"[{'label': 'culture', 'score': 0.4763846695423...",culture
9992,36135095,重庆举办抗战主题连环画展,NaN,13556651,"[{'label': 'culture', 'score': 0.9239003062248...",culture

In [ ]:
data[data.category == 'financial news']

,Unnamed: 0,NEWS_TITLE,NEWS_ORIGIN_SOURCE,NEWS_ID,text_classification,category
0,39580162,上证50ETF期权：建议继续保持现有现货头寸，期权暂不操作,NaN,17460390,"[{'label': 'financial news', 'score': 0.999178...",financial news
1,37691618,10月15日上海银行间同业拆放利率,NaN,15295190,"[{'label': 'financial news', 'score': 0.996534...",financial news
2,34364484,凯石全球：澳元降息暗示宽松尾声 美指下行加剧,NaN,11367204,"[{'label': 'financial news', 'score': 0.995518...",financial news
5,44564863,604亿资金争夺20股：主力资金重点出击9股（名单）,中国资本证券网,23292543,"[{'label': 'financial news', 'score': 0.998852...",financial news
6,33850668,百度称客户遭莆田总会恐吓 莆田系回应称系个案,NaN,10706833,"[{'label': 'financial news', 'score': 0.826655...",financial news
...,...,...,...,...,...,...
9986,43768554,黄金价格上涨之后 中国5月停止月度黄金购买,NaN,22222181,"[{'label': 'financial news', 'score': 0.975686...",financial news
9987,38116168,10月广州卖地54.7亿元 多宗宅地抢手溢价,NaN,15774264,"[{'label': 'financial news', 'score': 0.917174...",financial news
9988,37010689,诚志股份定增120亿收编惠生能源,上海证券报,14553659,"[{'label': 'financial news', 'score': 0.997177...",financial news
9989,44658723,中国海诚工程科技股份有限公司公告（系列）,NaN,23446456,"[{'label': 'financial news', 'score': 0.968080...",financial news
9996,37002622,中信证券总经理等人被公安机关依法调查,NaN,14545126,"[{'label': 'financial news', 'score': 0.730983...",financial news

In [ ]:
import os, sys
from google.colab import drive

In [ ]:
# drive.mount('/content/drive')
nb_path = 'content/notebooks'
os.symlink('/content/drive/MyDrive/Colab Notebooks', nb_path)
sys.path.insert(0, nb_path)

FileNotFoundError: ignored

In [ ]:
os.listdir('/content/drive/MyDrive/Colab Notebooks')

['Test.ipynb', 'Q Learning.ipynb']

In [ ]:
!pip install transformers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting transformers
  Downloading transformers-4.22.0-py3-none-any.whl (4.9 MB)
     |████████████████████████████████| 4.9 MB 4.1 MB/s
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (6.0)
Collecting tokenizers!=0.11.3,<0.13,>=0.11.1
  Downloading tokenizers-0.12.1-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (6.6 MB)
     |████████████████████████████████| 6.6 MB 33.9 MB/s
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (21.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.8.0)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.21.6)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers) (4.12.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2022.6.2)
Collecting huggingface-hub<1.0,>=0.9.0
  Downloading huggingface_hub-0.9.1-py3-none-any.whl (120 kB)
     |████████████████████████████████| 120 kB 41.7 MB/s
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.64.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub<1.0,>=0.9.0->transformers) (4.1.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->transformers) (3.0.9)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers) (3.8.1)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2022.6.15)
Installing collected packages: tokenizers, huggingface-hub, transformers
Successfully installed huggingface-hub-0.9.1 tokenizers-0.12.1 transformers-4.22.0